@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@300;600&family=Poppins:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    }

body {
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar li a:hover {
    color: rgba(255, 94, 0,1);
    background-color: rgba(0, 0, 0, 0.808);
    padding: 0.8rem;
    font-size: 1.3em;
    font-weight: 600;

}

@media (max-width: 550px) {
    .navbar  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li a {
       padding: 5px;
    }
}

.container-body{
    display: flex;
    align-items:stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
}

img{
    width: 360px;
    margin: 5px;
}


.footer {
background-image: linear-gradient(315deg, #380036 8%, #121a1a 74%);
box-sizing: border-box;
color: #fff;
font-weight: 700;
font-size: 1em;
}

.f-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h2 {
font-weight: 700;
font-size: 1em;
}

.footer ul {
padding-left: 0;
}

.footer li {
list-style: none;
line-height: 2em;
}

.footer a {
text-decoration: none;
font-size: 0.8em;
color: #fff;
font-weight:500;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 5px;
font-size: 0.8em;
font-weight: 500;
}



@media (max-width: 550px) {
    .f-links{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        /* text-overflow: ellipsis; */
        justify-content: space-around;
    }

}
