@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@300;600&family=Poppins:wght@400;700&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffccff;
}
.intro + .resume{
    padding: 10px;
}

.navbar {
    color: white;
    background-color:#29524a ;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.808);
    padding: 0.8rem;
    font-size: 1.3em;
    font-weight: 600;

}

@media (max-width: 550px) {
    .navbar  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li a {
       padding: 5px;
    }
}

.highlight {
    color: #b82c2c;
}


img{
    width: 160px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    right: 100px;
  }

.container-body{
    display: flex;
    align-items:stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
}
.header-title {
    font-size: 4.6rem;
    margin-bottom: .75rem;
    text-align: left;
    font-weight: 700;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .section__title {
    text-align: center;
    font-size: 2rem;
    color: #b82c2c;
} */

.section__subtitle {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #242424;
    margin-bottom: 16px;
}


.social {
    color: #212121;
    display: flex;
    flex-direction: column;
}

.social li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.social li a {
    display: block;
    text-decoration: none;
    color: white;
    /* margin: 1rem; */
}
.social h2{
    align-self: center;
}
.box-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fa-twitter{
    color : #1a8cd8;
}
.fa-youtube
{
    color: #ff0000;
}
.fa-linkedin-in{
    color: #0a66c2;
}
.fa-facebook{
    color: #1195f5;
}
.fa-github{
    color: #212121;
}
.fab {
    font-size: 1.75rem;
}



.footer {
background-image: linear-gradient(315deg, #380036 8%, #121a1a 74%);
box-sizing: border-box;
color: #fff;
font-weight: 700;
font-size: 1em;
}

.f-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h2 {
font-weight: 700;
font-size: 1em;
}

.footer ul {
padding-left: 0;
}

.footer li {
list-style: none;
line-height: 2em;
}

.footer a {
text-decoration: none;
font-size: 0.8em;
color: #fff;
font-weight:500;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 5px;
font-size: 0.8em;
font-weight: 500;
}



@media (max-width: 550px) {
    .f-links{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

}
.mail-me {
    position: fixed;
    bottom: 32px; right: 40px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #242424;
    color: white;
}

.mail-me i {
    font-size: 1.75rem;
}

.clickable:hover {
    transform: scale(1.1);
}

.clickable:active {
    transform: scale(0.8);
}
table {
    border-collapse: collapse;
  }
  td {
    text-align: center;
  }

  tr:hover {
    background-color: coral;
}
.hobbies{
    display:inline-block;
}
.hobbies li:hover{
    background-color: coral;
}
/* tr:nth-child(even) {background-color: #f2f2f2;} */
